node_modules

__pycache__/
*.pyc
.DS_Store
.env
.venv/
node_modules/
*.db
*.sqlite
*.sqlite3
logs/
tmp/
IMAGENES/
VIDEOS/
*.zip
*.rpm
keys/
data/
web/_bak/
web/downloads/
backend/credentials/
backend/cotizaciones/
