fastapi==0.78.0
uvicorn==0.16.0
pydantic==1.10.13
click==8.0.4
idna==3.4
Jinja2==3.0.3
MarkupSafe==2.0.1
passlib==1.7.4
psycopg2-binary==2.9.5
SQLAlchemy==1.4.49
typing-inspect==0.7.1
typing_extensions==4.2.0
